{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Shop</title>


    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'narrow-jumbotron.css' %}" rel="stylesheet">
  </head>

  <body>


    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item" style="display: flex;">
              <a class="nav-link active" href="/item/" style="margin: 0 10px;">Items</a>
              <a class="nav-link active" href="/order/"  style="margin: 0 10px;">My order</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Shop</h3>
      </div>

      {% block content %}
      {% endblock %}


      <footer class="footer">
        <p>&copy; Shop MegaMarket 2022</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>