{% extends 'items/index.html' %}
{% load static %}



{% block content %}

    <div class="jumbotron">
      <input type="hidden" value="{{item.id}}" class="item_id">
      <h1 class="display-3">{{ item.name }}</h1>
      <p class="desc"> {{ item.description }} </p>
      <p class="lead">Price {{ price.price }} р.</p>
      <p class="quantity">Quantity: </p>
      <form name="quantity">
        <input type="number" class="qty-input" id="quantity" value="1"  min="1"/>
      </form>
      <button id="buy-button" class="btn btn-primary">Buy</button>
      <button id="add_order-button" class="btn btn-primary addToOrderBtn">Add Order</button>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <script src="{% static 'custom.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>


    <script>


      const buy_now_button = document.querySelector('#buy-button')
      buy_now_button.addEventListener('click', event => {
        let quantity = document.getElementById("quantity").value;
        if( !(quantity > 0)) {
          quantity = 1;
        }
        fetch('/buy/{{item.id}}/', {method: 'POST', body: quantity})
        .then((result) => { return result.json() })
        .then((data) => {
          var stripe = Stripe(data.stripe_public_key);

          stripe.redirectToCheckout({sessionId: data.session_id})
          .then(function (result) {
          });
        })
      })


    </script>


{% endblock %}