{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Товары</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'narrow-jumbotron.css' %}" rel="stylesheet">
</head>

<body>

<div class="container">
    <div class="header clearfix">
        <h3 class="text-muted">Магазин</h3>
    </div>

    <div class="items">
        {% for item in items %}
        <li>
            <a href="{% url 'items:item' item.id %}">{{ item.name }}</a>
        </li>
        {% empty %}
        <li>Нет товаров</li>
        {% endfor %}
    </div>


    <footer class="footer">
        <p>&copy; Магазин MegaMarket 2022</p>
    </footer>
</div> <!-- /container -->
</body>
</html>